{% extends 'base.html' %}
{% block body %}    
    <div class="container">
        <div class="form">
            <h3 class="text-primary">Account Settings</h3>

            {% if messages %}

            {% for message in messages %}

            <p class="alert alert-{{message.tags}}">{{message}}</p>

            {% endfor %}

            {% endif %}

            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Username</label>
                    <input type="text" name="title" id="title" class="form-control" required value="user">
                </div>
                <div class="form-group">
                    <label for="title">First Name </label>
                    <input type="text" name="first_name" id="first_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="title">Last Name </label>
                    <input type="text" name="last_name" id="last_name" class="form-control">
                </div>
                <button type="submit" class="btn-info btn">Save</button>

                
            </form>
    </div>
    </div>    
{% endblock body %}